{% extends 'base.html.twig' %}
{% block title %}
    A Web Page
{% endblock %}
 {% block body %}
     <h3>Filter les sorties</h3>
     <form>
         <div>
         <table>
             <tr>
                 <td>
                     <table>
                         <tr>
                             <td>
                                 Compus
                             </td>
                             <td>
                                 <select class="form-control" id="supervisor">
                                     {% for i  in 0..3 %}
                                         {% set selected = '' %}
                                         <option value="Saint Herblain" {{ selected }}>{{ 'Saint Herblain'  }}</option>
                                     {% endfor %}
                                 </select>
                             </td>
                         </tr>
                         <tr>
                             <td>
                                 Le nom de la sotrie contient:
                             </td>
                             <td>
                                 <input type="text" class="form-control" placeholder="Search" name ="search">
                             </td>
                         </tr>
                         <tr>
                             <td>Entre</td>
                             <td><input type="date" placeholder="Select Date"></td>
                             <td>et</td>
                             <td><input type="date" placeholder="Select Date"></td>
                         </tr>
                     </table>
                 </td>
                 </div>
         <div>
                 <td>
                     <input type="checkbox" id="check1" name="check1" checked>
                     <label for="check1">Sorties dont je suis l'organisateur/trice</label>
                 <br>
                     <input type="checkbox" id="check2" name="check2" checked>
                     <label for="check2">Sorties aux quelles je suis inscrit/e</label>
                 <br>
                     <input type="checkbox" id="check3" name="check3" checked>
                     <label for="check3">Sorties aux quelles je ne suis pas inscrit/e</label>
                 <br>
                     <input type="checkbox" id="check4" name="check4" >
                     <label for="check4">Sorties passées </label>
                 </td>
         </div>
                 <td>
                     <button > Rechercher</button>
                 </td>
             </tr>
         </table>
     </form>
     <div>
         <button > Créer Une Sortie</button>
     </div>
 {% endblock %}

