nav {
    font-size: 22px;
    display: block ;
    font-family: Calibri;

}

nav ul{
    display: flex;
    list-style: none;
    padding-left: 0;
    flex-wrap: wrap;
}

nav li {
    margin-right: 3rem;
    display: flex;

}
nav a {
    text-decoration: none !important;
    color: inherit;

}

nav a:hover{
    color: rgb(6, 71, 167);
}

.mdpForget, ul{
    margin-right: -30px;
}


.container
{
    display: inline;
    margin: 0;
    padding: 0;
}

.nav-right
{
    display: flex;
    text-align: end;
    align-items: center;
    justify-content: space-between;
    margin-right: 5rem;
}

.nav-left
{
    display: flex;
    text-align: start;
    align-items: center;
    justify-content: space-between;
    margin-left: 6rem;

}

@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
.snip1217 {
    font-family: 'Raleway', Arial, sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
}
.snip1217 * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}
.snip1217 li {
    display: inline-block;
    list-style: outside none none;
    margin: 0.5em 1.5em;
    padding: 0;
}
.snip1217 a {
    padding: 0.3em 0;
    color: rgb(0, 0, 0);
    position: relative;
    text-decoration: none;
    display: inline-block;
}
.snip1217 a:before,
.snip1217 a:after {
    height: 3px;
    position: absolute;
    content: '';
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
    background-color: #0647a7;
    width: 0;
}
.snip1217 a:before {
    top: 0;
    left: 0;
}
.snip1217 a:after {
    bottom: 0;
    right: 0;
}
.snip1217 a:hover{
    color: #4f99b9;
}
.snip1217 a:hover:before,
.snip1217 a:hover:after{
    width: 100%;
}

