label {
    display: inline-block;
    width: 300px;
}

input,
textarea,
select {
    margin-bottom: 1rem;
    box-sizing: border-box;
    width: 300px;
    max-width: 60%;
}

input,
select
{
    margin-left: 40px;
    padding: 5px 5px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 4px;
}

form{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

