{% extends 'base.html.twig' %}

{% block title %}

{% endblock  %}

{% block body %}

    {{ form_start(sortieForm) }}
    {{ form_widget(sortieForm) }}

    {{ form_end(sortieForm) }}

    <button>Enregistrer</button>
    <button>Publier la sortie</button>
    <button>Annuler</button>

{% endblock  %}
