{% extends 'base.html.twig' %}

{% block title %}

{% endblock  %}

{% block body %}
    <h1 class="titreform">Créer une Sortie</h1>

    <div class="entier">

        <div class="sortieform">
            {{ form(sortieForm)}}
        </div>

        <div class="clvform">

            <div class="campusform">
                {{ form(campusForm) }}
            </div>

            <div class="lieuform">
                {{ form(lieuForm) }}
            </div>

            <div class="villeform">
                {{ form(villeForm) }}
            </div>

        </div>
  </div>

    <div class="boutonform">
        <button class="button">Enregistrer</button>
        <button class="button">Publier la sortie</button>
        <button class="button">Annuler</button>
    </div>


{% endblock  %}
