{% extends 'base.html.twig' %}

{% block title %}

{% endblock  %}

{% block body %}

    {{ form(sortieForm) }}
    {{ form(campusForm) }}
    {{ form(lieuForm) }}
    {{ form(villeForm) }}
    <button>Enregistrer</button>
    <button>Publier la sortie</button>
    <button>Annuler</button>

{% endblock  %}
