
<container class="container">
    <container class="left">
        <div class="logo">
            <img src="{{ asset('img/logo.png') }}" alt="Logo Sortir.com">
        </div>


    <container class="right">

        <nav>
            <ul class="list-nav">
                <li><a href="" title="Accueil">Accueil</a></li>
                <li><a href="" title="Mon Profil">Mon Profil</a></li>
                <li><a href="" title="Se déconnecter">Se déconnecter</a></li>
            </ul>
        </nav>
    </container>
</container>