
    <div class="logo">
        <img src="{{ asset('img/sortirLogo.PNG') }}" alt="Logo Sortir.com">
    </div>
<nav>
    <ul class="list-nav">
        <li><a href="" title="Accueil">Accueil</a></li>
        <li><a href="" title="Mon Profil">Mon Profil</a></li>
        <li><a href="" title="Se déconnecter">Se déconnecter</a></li>
    </ul>
</nav>