<nav>
    <div class="logo">
        <h1>Logo Sortir.com</h1>
        <!-- Insérer une image plus tard avec le logo -->
    </div>

    <ul class="list-nav">
        <li><a href="" title="Accueil"></a>Accueil</li>
        <li><a href="" title="Mon Profil"></a>Mon Profil</li>
        <li><a href="" title="Se déconnecter"></a>Se déconnecter</li>
    </ul>

</nav>