
<container class="container">

    <container class="nav-left">
        <div class="logo">
            <img src="{{ asset('img/sortirLogo2.png') }}" alt="Logo Sortir.com">
        </div>


    <container class="nav-right">
        <nav>
            <ul class="snip1217">
                <li><a href="" title="Accueil">Accueil</a></li>
                <li><a href="" title="Mon Profil">Mon Profil</a></li>
                <li><a href="" title="Se déconnecter">Se déconnecter</a></li>
            </ul>
        </nav>
    </container>

</container>